/* note
CSS selector priority
- top to bottom order (bottom overwrittens the top rule
- HTML Elements (h1, h2, body) < Class(.) < Id (#) 
- inline style overwrites everything (style = "color:orange") (higher priority) (RARELT USED: usually for sections or when actually needed 
There's a sweet spot for how much I should refactor ( don't try to delete all the code)*/


/* html broad stroke web page wide styles */
body {
    font-family: 'Montserrat', sans-serif;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 3rem;
    line-height: 1.5;
}

p {
    color: #8f8f8f;
}

/* Headings */
.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;

}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* containers */
.container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

/* Sections */
/* help refactoring the website */
.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;

}

/* Navigation Bar  */

.navbar {
    padding: 0 0 4.5rem;

}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: light;

}

/* download buttons  */
.download-button {
    margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 2 0%;
}

/* feature section  */
#features {
    padding: 7% 15%;
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: 900;

}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* testimonials */

#testimonials {
    text-align: center;
    background-color: #ef8172;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;

}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* press */
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* 
pricing section */

#pricing {
    padding: 100px;
    text-align: center;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}


/* CTa section */
#cta {
    padding: 7% 15%;
    text-align: center;
}


/* Footer section */
#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}

@media (max-width: 1028px) {
    .title-image {
        position: static;
        transform: rotate(0);
    }

    #title {
        text-align: center;
    }
}